* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4a594;
  font-family: "Courier New", Courier, monospace;
}

.nose-container {
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
}

.nose-background {
  margin-top: -100vh;
  position: sticky;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: url("images/nosey.png") no-repeat center center/cover;
}

.nose-foreground {
  margin-top: -200vh;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("images/nosey_overlay.png") no-repeat center center/cover;
}

.pointers {
  position: relative;
}

.pointer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: url("images/cursor_tiny.png") no-repeat center center/cover;
}

.pointer:nth-child(1) {
  margin-top: 10vh;
}

.faster {
  margin-top: -60vh;
}

.fastest {
  margin-top: -90vh;
}

.big-pointer {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: url("images/cursor_big.png") no-repeat center center/cover;
}

.nothing {
  height: 100vh;
}

.special-thanks {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lips-dont-lie {
  font-size: 10rem;
}

h2 {
  font-size: 2rem;
}

.digging {
  animation: dig 0.3s infinite alternate;
}

@keyframes dig {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(8px);
  }
}
